
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier Prime', monospace;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 105vh;
    background-image: url(../images/fondo\ profile.jpg);
    background-size: cover;
    background-position: center;
}

.profile-box {
   background-color: #ffffff05;
    text-align: center;
    padding: 20px;  
    color: #fff;
    position: relative;
    border-radius: 15px;
    width: 80vw;
    height: auto;
    max-width: 400px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
    -webkit-backdrop-filter: blur(25px);
    border: 2px solid white;
}
.settings-link {
    position: absolute;
    top: 15px;
    left: 15px;
    text-decoration: none;
}

.setting-icon{
    width: 20px;
    transition: transform 0.5s ease;
}
.setting-icon:hover{
    transform: translateY(-2px) rotate(-360deg)
}
.profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover; /* Maintain the aspect ratio */
    border-radius: 50%; /* Make it a circle */
    padding: 5px; /* Adjust the padding */
    margin-top: 15px;
    box-shadow: 0 0 15px #008700;
    overflow: hidden; /* Ensure content does not protrude beyond the border-radius */
    transition: transform 0.5s ease;
}

.profile-coupon {
    border: 2px solid white;
    background-color:#0087007c;
    padding: 5px ;
    border-radius: 15px;
    margin-top: 15px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}

.profile-pic img{
    width: 15px;
    margin-top: 10px;

}

.profile-pic:hover{
    transform: rotateY(-360deg);
}
.botonaso a:hover{
    background-color: #008700; 

}
.botonaso a{
    color:black;
}
.botonaso:hover{
    background-color: #008700;
}

.profile-box button {
    background: #ffffff;
    color: #008700;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(48, 176, 34, 0.315);
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
}
.profile-box h3 {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 500;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .profile-box {
        width: 90vw;
        height: 90vw;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content{
    align-items: center;
}


.menu .navbar ul {
    display: flex;
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px; /* Decrease font size */
    padding: 20px; /* Adjust padding */
    color: #ffffff; /* Change text color */
    display: block; 
    font-weight: 400;
    transition: color 0.3s ease; /* Add smooth transition for color change */
}

.menu .navbar ul li a:hover {
    color: #008700; 
}

/* Add a media query for smaller screens to adjust the font size */
@media screen and (max-width: 600px) {
    .menu .navbar ul li a {
        font-size: 14px;
    }
}


.logo{
    margin-left: 0;
    position: relative;
    margin-top: 5px;
}
#menu{
    display: none;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header {
    
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    text-align: center; /* Center the text */
    overflow: hidden;
    background-image: none; /* Remove any existing background image */
}
footer{
    position: relative;
    width: 100%;
    background: #008700;
    min-height: 20px;
    padding: 5px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: flex;
    align-items: flex;
}
footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li a{
    font-size: 2em;
    color: #FFFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon a:hover{
    transform: translateY(-10px);
}
footer .menoo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .menoo li a{
    font-size: 1.2em;
    color: #FFFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}
footer .menoo li a:hover{
    opacity: 1;
}
footer p{
   color: #FFFF;
   text-align: center;
   margin-top: 15px; 
   margin-bottom: 0px;
   font-size: 1.1em;
}
.wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
}
.wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
.wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
.wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
.wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
/* Responsive */
@media (max-width: 800px) {
.header-content h1{
    padding: 20vh 23vw 0vh ;
    align-items: center;
}
.menu{
    padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3d86134d;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked~ .navbar{
        display: initial;
    }
    .logo{
        margin-left: 0;
    }
}
@media(max-width: 800px){
    .menu{
        padding: 30px;
        }
        .menu label{
            display: initial;
        }
        .menu .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #3d86134d;
            display: none;
            z-index: 10000000;
        }
        .menu .navbar ul li{
            width: 100%;
        }
        .menu .navbar ul{
            flex-direction: column;

        }
        #menu:checked~ .navbar{
            display: initial;
        }
        .logo{
            margin-left: 0;
        }
}
